@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

body {
	margin: 0;
}

.Relative {
	position: relative;
}

.TitleAbsolute {
	/*pointer-events: none;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 2;
}

.TitleMain {
	margin-top: 10vh;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.TitleImage {
	max-width: 100%;
	height: auto;
	display: block;
	width: 20%;
	margin: auto;
}

.ButtonBanner {
	background: red;
	border-radius: 5px;
	padding: 10px 25px;
	border: none;
	color: white;
}

@media screen and (max-width: 767px) {
	.TitleMain {
		margin-top: 5vh;
	}
}

@media screen and (max-width: 500px) {
	.TitleMain {
		margin-top: 1vh;
	}
}